* { 
  box-sizing: border-box; 
} 
body { 
  margin: 0; 
  padding: 32px 0; 
  font-family: system-ui, "Segoe UI", sans-serif;
  background: #ffffff; 
  color: #000; 
}
.app { 
  max-width: 750px; 
  margin: 0 auto; 
}
h1 { 
  font-size: 28px; 
  font-weight: 400; 
  margin-bottom: 24px; 
}
.controls { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; 
} 
.toggle { 
  display: flex;
  align-items: center; 
  gap: 10px; 
  font-size: 14px; 
}
.toggle input { 
  display: none;
} 
.slider { 
  width: 34px; 
  height: 18px; 
  background: #ccc; 
  border-radius: 999px; 
  position: relative;
} 
.slider::after { 
  content: ""; 
  width: 14px; 
  height: 14px; 
  background: #fff; 
  border-radius: 50%;
  position: absolute; 
  top: 2px; 
  left: 2px;
  transition: transform 0.3s;
}
.toggle input:checked + .slider::after { 
  transform: translateX(16px); 
}
.toggle input:checked + .slider { 
  background: #6c4ce0; 
}
#fetch-btn {
  background: #6c4ce0;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}

.grid { 
  display: grid; 
  grid-template-columns: repeat(2,1fr); 
  gap: 16px; 
}

.card { 
  position: relative; 
  width: 100%; 
  height: 220px; 
  background-color: #ddd; 
  overflow: hidden; 
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.overlay { 
  position: absolute; 
  bottom: 0;
  left: 0; 
  right: 0; 
  padding: 12px; 
  background: rgba(0,0,0,0.7);
  color: #fff;  
} 
.author { 
  font-size: 14px; 
  font-weight: 500; 
} 
.link { 
  font-size: 12px; 
  opacity: 0.85;
}

#morePhotos { 
  background: #6c4ce0; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  padding: 8px 14px; 
  font-size: 14px; 
  cursor: pointer;
  width: 100%; 
  margin: 16px 0; 
}
a{
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 16px;        
    padding: 0 16px; 
  }
}
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #eee;
  border-top: 4px solid #6c4ce0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}